<div class="pais">
    <a class="pais-vasak" href="/">
      <img src="/assets/klubilogo.png" height="90">
      <span class="logo-pealkiri">Hiking<br>Club</span>
    </a>
    <nav>
      <a href="/">Home</a>
      <a href="#">Upcoming treks</a>
      <a href="#">Trek for family</a>
      <a href="/contact">Contact us</a>
    </nav>
  </div>

  <div class="footer">
    <div class="helista">CALL NOW <br>1800 888 555</div>
    <div class="firmanimi">© Company Name 2020. All rights reserved.</div>

	<div class="icons">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-whatsapp"></a>

</div>
    
  