<div class="pais">
    <a class="pais-vasak" href="/">
      <img src="/assets/klubilogo.png" height="90">
      <span class="logo-pealkiri">Hiking<br>Club</span>
    </a>
    <nav>
      <a href="/">Home</a>
      <a href="/Matkaklubi/views/pages/treks.ejs">Upcoming treks</a>
      <a href="/Matkaklubi/views/pages/news.ejs">News</a>
      <a href="/Matkaklubi/views/pages/contact.ejs">Contact us</a>
    </nav>
  </div>