.konteiner {
    display: flex;
    margin: 40px;
}

.detail-lisa{
    display: inline-block;
}

.matkad>div {
    margin-bottom: 10px;
}

.matka-detail {
    display: none;
    flex-direction: column;
    margin-left: 20px;
    border-left: solid 1px gray;
    padding-left: 20px;
    width: 400px;
}

input,
textarea {
    margin-top: 10px !important;

}

button {
    margin-top: 15px !important;
    width: 150px;  
}

.osalejad {
    margin-top: 25px;
}

h2 {
    padding-top: 20px;
    color: darkgreen;
    font-size: 22px !important;

}

