.matk{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    column-gap: 20px
}

.matka-pealkiri{
    font-weight: bold;
}

.matka-hind{
    font-style: italic;

}

