<!DOCTYPE html>
<html>

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <h1>Matkaklubi administreerimine</h1>
    <div class="konteiner">
        <div id="matkad" class="matkad">
        </div>
    
        </div>
        <div id="matka-detail" class="matka-detail">
            <h5 id="matka-pealkiri"></h5>
            <h2>Matka pealkiri</h2>
            <input id="detail-pealkiri" type="text"></input>
            <h2>Matka algus</h2>
            <input id="detail-algus" type="date"></input>
            <h2>Matka lõpp</h2>
            <input id="detail-lopp" type="date"></input>
            <h2>Matka kirjeldus</h2>
            <textarea id="detail-kirjeldus"></textarea>
            <h2>Matka pilt</h2>
            <input id="detail-pilt" type="text"></input>
            <button id="detail-salvesta" class="btn btn-primary">Salvesta</button>
            <h5 class="osalejad">Osalejad</h5>
            <div id="detail-osalejad"></div>
        </div>
    </div>
    <script src="/scripts/admin.js"></script>
</body>

</html>