<!DOCTYPE html>
<html>

<head>
    <title>Matkaklubi - Contact</title>
    <link rel="stylesheet" href="/Matkaklubi/public/stylesheets/main.css">
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %> 
    
      <div id="teade"></div>
      <h3>Contact us</h3>
      <form>
          <label >Name: </label> <input type="text"id="name"> <br>
          <label >E-mail: </label> <input type="email"id="email"><br>
          <label >Message: </label>
          <textarea id="sonum" rows="4" cols="40"></textarea><br><br>
          <input id="saada" type="submit" value="Send" > 
      </form>
      <script src="/Matkaklubi/views/script.js"></script> 
      <%- include ("../partials/nav-all.ejs") %>
</body>

</html>