<!DOCTYPE html>
<html>

<head>
    <title>Matk</title>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %>

    </div>
    <div> 
        <% = matk.title %>
    </div>
    <%- include ("../partials/nav-all.ejs") %>
</body>

</html>